<div class="bg-primary h-full p-4">
  <img src="https://placehold.co/400" alt="Logo" class="mb-5 rounded-md overflow-hidden">

  <nav aria-label="Sidebar Menu" class="flex flex-col gap-2 items-center justify-center">
    @for (option of options; track option.label) {
      <a
        [routerLink]="option.path"
        [routerLinkActive]="['bg-muted', '!text-primary']"
        class="flex items-center justify-center w-12 h-12 rounded-md text-surface hover:bg-muted hover:text-primary transition-all duration-400 cursor-pointer"
      >
        <ng-icon name="{{ option.icon }}" size="24" />

        <!-- <span class="text-sm">{{ option.label }}</span> -->
      </a>
    }
  </nav>
</div>
